<style>
    .productCard {
        min-width: 300px;
    }
    .imgContainer {
        width:300px;
    }
</style>
<div class="productCard px-5 py-5">
    <a href="/product/<%= product._id %>">
        <div class="card">
            <!-- img of product -->
            <div class="imgContainer">
                <img src="<%= product.image %>" alt="product">
            </div>

            <div class="card-body">
                <!-- title -->
                <h5 class="card-title ">
                    <%= product.title %>
                </h5>
                <!-- desc -->
                <!-- desc will be trimmed -->
                <div class="cardDetails py-2">
                    <div>
                        <span class="rating">
                            <% let sum = product.rating.reduce((partialSum, a) => partialSum + a, 0);
                              sum = sum / product.rating.length
                              isNaN(sum)?sum=0:sum=sum
                              %>
                            <%= sum %>★
                        </span> <span class="review_num tsecondary">(<%= product.rating.length %>)</span>
                    </div>
                    <div>
                        <b>₹ <%= product.prize %></b>
                    </div>

                </div>


            </div>

        </div>
    </a>


</div>