<%- include('partials/Navbar.ejs',{authenticated:authenticated}) %>
    <link rel="stylesheet" href="../../css/style.css">
    <style>
        /* main */
        .container {
            width: 100;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .wrapper {
            width: 90%;
            height: auto;
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }

        @media screen and (max-width:700) {

            .wrapper .product-box {
                min-width: 300px;
            }

            .wrapper .content {
                min-width: 300px;
            }
        }


        .text {
            flex-basis: 45%;
        }

        .all-images {
            height: 20vh;
            display: flex;
        }

        .main-image {
            height: 300px;
            width: 400px;
        }

        .main-image img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        p {
            margin-bottom: 20px;
        }

        h2 {
            font-size: 35px;
            color: #555;
            margin-bottom: 20px;
        }

        .review {
            background-color: green;
            display: inline-block;
            color: #fff;
            padding: 4px;
            border-radius: 5px;
            font-size: 15px;
        }

        review .fa {
            counter-reset: #fff;
        }

        .rating {
            display: flex;
            flex-direction: row-reverse;
            justify-content: left;
        }

        .rating>input {
            display: none;
        }

        .rating>label {
            position: relative;
            width: 20px;
            font-size: 5vh;
            color: #FFD700;
            cursor: pointer;
        }

        .rating>label::before {
            content: "\2605";
            position: absolute;
            opacity: 0;
        }

        .rating>label:hover:before,
        .rating>label:hover~label:before {
            opacity: 1 !important;
        }

        .rating>input:checked~label:before {
            opacity: 1;
        }

        .rating:hover>input:checked~label:before {
            opacity: 0.4;
        }

        .price {
            color: #555;
            font-size: 26px;
            font-weight: bold;
            padding-top: 10px;
            padding-right: 10px;
        }

        .price-box {
            display: flex;
            align-items: center;
        }

        input {
            width: 30px;
            border: 1px solid #ccc;
            font-weight: bold;
            text-align: center;
        }

        button {
            width: 140px;
            color: #fff;
            font-size: 15px;
            outline: none;
            border: 0;
            border-radius: 5px;
            padding: 10px 15px;
            background-color: tomato;
            box-sizing: border-box;
            cursor: pointer;

        }

        button .fa {
            margin-right: 10px;
        }

        /*Description head*/
        .dis-head {
            width: 100%;
            text-align: center;
            margin-top: 20px;
        }

        /* Description */
        .desc {
            max-width: 800px;
            height: auto;
            margin: auto;
            padding: 5px;
            margin-top: 20px;
            text-align: center;
        }

        .desc h3 {
            color: var(--text);
            margin: 2px;
        }

        .rev-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .cont {
            width: 90%;
            box-shadow: 10px 10px 10px var(--shadow);
            background-color: var(--secondary);
            padding: 0px 20px;
            margin: 15px;
            cursor: pointer;
            border-radius: 10px;
        }

        .prf-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 10px;
        }

        .prf-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        .profile {
            display: flex;
            align-items: center;
        }

        .prf-name {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        }

        .prf-name strong {
            font-size: 1.1rem;
            letter-spacing: 0.5px;
        }

        .cont-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        .comments {
            font-size: 0.9rem;
        }

        /* Write review */
        .wrt-main {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: var(--secondary);
            width: 90%;
            margin: auto;
            margin-bottom: 20px;
            padding-bottom: 10px;
        }

        .wrt-area {
            background-color: var(--secondary);
        }
        
    </style>
    <div class="container">
        <div class="wrapper">
            <div class="product-box m-2 p-2">

                <div class="main-image">
                    <img src="<%=product.image %>" id="imagebox">
                </div>
            </div>
            <div class="content m-2 p-2">
                <h2>
                    <%= product.title %>
                </h2>
                <div class="review">
                    <% let sum=product.rating.reduce((partialSum, a)=> partialSum + a, 0);
                        sum = sum / product.rating.length
                        isNaN(sum)?sum=0:sum=sum
                        %>
                        <span>
                            <%= sum %>
                        </span>
                        <span class="fa fa-star"></span>
                </div>

                <div class="rating">

                    <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                    <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                    <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                    <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                    <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>

                </div>

                <div class="price-box">
                    <p class="price">&#8377; <%= product.prize %>
                    </p>
                    <strike class="tsecondary">&#8377; <%= product.prize +1000 %></strike>
                </div>
                <button class="btn btnPrimary m-1 ">
                    <span class="fa fa-shopping-cart"></span>
                    Add
                </button>
                <button class="btn btnSecondary m-1 ">
                    <span class="fa fa-shopping-cart"></span>
                    Buy now
                </button>
            </div>
        </div>
    </div>

    <div class="desc">
        <h3>About the product</h3>
        <p class="tsecondary">
            <%= product.description %>
        </p>
    </div>

    <section class="display-rev">
        <div class="dis-head">
            <h3>Customer ratings and reviews</h3>
        </div>
        <div class="dis-options rev-content">
            <div>
                <button class="dis-button btn btnSecondary" type="submit" id="sort-date-new">
                    Recent
                </button>
    
                <button class="dis-button btn btnSecondary" type="submit" id="sort-date-old">
                   Old
                </button>
    
                <button class="dis-button btn btnSecondary" type="submit" id="sort-date-rat">
                    top
                </button>
            </div>
            

            <form class="d-flex flexc m-2" role="search" id="search-form">
                <input class="form-control me-2" type="search" placeholder="Search tags" id="form-in" >
                <button class="btn btnPrimary" type="button" id="search-button">Search</button>
            </form>
        </div>

        <div class="rev-content">
            <% if (currentUserReview.length==0) { %>
                <button class="btn btnSecondary" data-bs-toggle="modal" data-bs-target="#sendReviewModel">Add a
                    review</button>
                <% } %>
                    <% if (reviews.length==0) { %>
                        <h5 class="tsecondary m-5 p-5">No reviews to show</h5>

                        <% } %>
                            <% reviews.forEach(review=> { %>
                                <% if (currentUserReview._id==review._id) { %>


                                    <%- include('partials/Review.ejs',{review,display:true}) %>


                                        <% } else{%>

                                            <%- include('partials/Review.ejs',{review,display:false}) %>
                                                <% } %>

                                                    <% }) %>
        </div>
    </section>

    <section class="wrt-rev">
        <!-- <div class="dis-head">
            <h1>Rate this app</h1>
            <p>Tell others what you think</p>
        </div>

        <div class="wrt-main">
            <div class="rating">

                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>

            </div>

            <div class="wrt-cont">
                <textarea class="wrt-area"></textarea>
            </div>

            <button>
                <span class="fa fa-shopping-cart"></span>
                Add review
            </button>
        </div> -->

        <!-- send review model -->
        <div class="modal" id="sendReviewModel" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Review this product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/product/<%= product._id %> " method="POST">
                        <div class="modal-body">
                            <input type="number" name="rating">
                            <br>
                            <textarea name="review" rows="4" cols="50">

                </textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btnSecondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btnPrimary">Send Review</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>



        <!-- <script>
            let searchBtn = document.getElementById('search-button');
            //console.log(searchBtn);

            searchBtn.addEventListener("click", function (e) {
                //console.log("clicked");
                let searchWord = document.getElementById('form-in');
                let val = searchWord.value.toUpperCase();
                let dbArray = <%= reviews %>;
                //console.log(dbArray)

                Array.from(dbArray).forEach(function (element) {
                    //console.log(element);
                    let textMain = element.getElementsByClassName("comments")[0].innerHTML.toString().toUpperCase();
                    console.log(textMain);
                    if (textMain.includes(val)) {
                        element.style.display = "block";
                    }
                    else {
                        element.style.display = "none";
                    }
                })
            });

            //COMMUNITY GUIDLINES --------------------------
            let checkBtn = document.getElementById("check-rev");
            checkBtn.addEventListener("click", function (e) {
                let checkTxt = document.getElementById("wrt-area");
                checkTxtVal = checkTxt.value.toUpperCase();
                //console.log(checkTxt);

                let notAllow = ["Dog", "3rd Class", "dustbin"];
                for (let i = 0; i < notAllow.length; i++) {
                    if (checkTxtVal.includes(notAllow[i].toUpperCase())) {
                        alert("Your review do not follows the community guidlines standard!")
                        checkTxt.value = null;
                        break;
                    }
                }
            });
        </script> -->